# =========================
# 1. Completely ignore these dirs
# =========================
manifest-repo
venvs
.vscode

# =========================
# 2. Keep dir but ignore its contents
# =========================
# apps
apps/**
!apps/.gitignore
!apps/blinky/
!apps/blinky/**

# bootloader
bootloader/**
!bootloader/.gitignore

# modules
modules/**
!modules/.gitignore

# tools
tools/**
!tools/.gitignore

# .west
.west/**
!.west/.gitignore

# .venv
.venv/**
!.venv/.gitignore

# =========================
# 3. Allow full tracking for some dirs
# =========================
!docs/**
